<%= form_for(@bento) do |f| %>
  <% if @bento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bento.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @bento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field_image">
    <%= image_tag :image %>
  </div>
  
  <div class="field">
    <%= f.label :shouhin %><br>
    <%= f.text_field :shouhin %>
  </div>
  <div class="field">
    <%= f.label :tanka %><br>
    <%= f.number_field :tanka %>
  </div>
  <div class="field">
    <%= f.label :zaikosu %><br>
    <%= f.text_field :zaikosu %>
  </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
