<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
//<![CDATA[
$(function(){
    $("button.reset").click(function(){
        $('input[type="text"], input[type="radio"], input[type="checkbox"], select').val("").removeAttr('checked').removeAttr('selected');
    })
})
 
//]]>
</script>


<p id="notice"><%= notice %></p>

<h2>商品一覧<h2>


    <% @projects.each do |project| %>
    <ul style="list-style:none;">
      <li><img src="<%= project.image %>" style="width: 150px; height: 100px;"><%= project.shouhin %> <%= project.tanka %>円 <span style="float: right">
    </ul>
          <!--    
          <li>
            <%= project.shouhin %>
            <%= project.tanka %>円
            <img src="<%= project.image %>" style="width: 150px; height: 100px;">
            <%= project.zaikosu %>
          </li>
          -->      
        
    <% end %>
    

<div class="digest row">
  
  <div class="col-sm-4">
     <%= link_to root_path do %> 
      <h2>ほっげほっげ亭の概要</h2>
      <%= image_tag 'about.png', class: 'img-rounded img-thumbnail' %> 
     <% end %> 
    <p>
      株式会社ほっげほっげ亭についてご紹介いたします。
    </p>
  </div>
</div>
