<h1>管理者画面</h1>
<ul>
    <% @projects.each do |project| %>
    <li><%= link_to project.shouhin, project_path(project.id) %>   <%= link_to "[編集]", edit_project_path(project.id) %>  <%= link_to "[削除]", project_path(project.id), method: :delete, data: { confirm: "よろしいかな？" } %></li>
    
    <% end %>
</ul>
<p><%= link_to "新規登録", new_project_path %>　　<%= link_to "管理者画面", projects_path %></p>


