<h1>新規登録</h1>





<!--
<%= form_for @project do |f| %>
    <p><%= f.label :商品 %>:<%= f.text_field :shouhin %></p>
    <% if @project.errors.any? %>
        <p class="error"><%= @project.errors.messages[:shouhin][0] %><p>
    <% end %>
    <p><%= f.submit %></p>
<% end %>

<%= form_for @project do |f| %>
    <p><%= f.label :単価 %>:<%= f.text_field :tanka %></p>
    <% if @project.errors.any? %>
        <p class="error"><%= @project.errors.messages[:tanka][0] %><p>
    <% end %>
    <p><%= f.submit %></p>
<% end %>
-->
<%= form_for @project do |f| %>
    <p><%= f.label :商品 %>:<%= f.text_field :shouhin %></p>
    <% if @project.errors.any? %>
        <p class="error"><%= @project.errors.messages[:shouhin][0] %><p>
    <% end %>

    <p><%= f.label :単価 %>:<%= f.text_field :tanka %></p>
    <% if @project.errors.any? %>
        <p class="error"><%= @project.errors.messages[:tanka][0] %><p>
    <% end %>
    
    <p><%= f.label :在庫 %>:<%= f.text_field :zaikosu %></p>
    <% if @project.errors.any? %>
        <p class="error"><%= @project.errors.messages[:zaikosu][0] %><p>
    <% end %>

    <p><%= f.label :画像 %>:<%= f.text_field :image %></p>
    <% if @project.errors.any? %>
        <p class="error"><%= @project.errors.messages[:image][0] %><p>
    <% end %>
    <p><%= f.submit %></p>

<% end %>

<p><%= link_to "新規登録", new_project_path %>　　<%= link_to "管理者画面", projects_path %></p>
