<h1>商品情報詳細</h1>
<strong>商品名</strong><br>
<%= @project.shouhin %><br>
<strong>単価</strong><br>
<%= @project.tanka %>円<br>
<strong>在庫数</strong><br>
<%= @project.zaikosu %>個<br>
<storong>画像</storong><br>
<img src="<%= @project.image %>" style="width: 150px; height: 100px;"><br>
<%= link_to "[編集]", edit_project_path %>  <%= link_to "[削除]", project_path, method: :delete, data: { confirm: "よろしいかな？" } %></li>
<br>
<br>
<p><%= link_to "新規登録", new_project_path %>　　<%= link_to "管理者画面", projects_path %></p>
