body > .container {
  padding-top: 60px;
  padding-bottom: 50px;
}

$go-to-top-height: 32px;
$footer-main-height: 45px;
$footer-height: $go-to-top-height + $footer-main-height;

// 最下部にフッタ固定
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  .go-to-top {
    height: $go-to-top-height;
    padding: 5px 0;
    font-size: 1.1em;
  }
  .main {
    height: $footer-main-height;
    background-color: #f5f5f5;
    padding-top: 10px;
    .list-inline {
      img {
        height: 30px;
      }
    }
  }
}
